body{
	background:black;
}

h2{
	color: red;

}
.quotes{

	background-color: white;
	width:33%;
	border-color:white;
	border-style:solid;
	border-radius:10px;
	margin-top:20px;
	padding: 20px;
	height: auto;
}
.quote{
	font-size: 30px;
}
.author{
	font-size: 20px;
}